*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: burlywood;
    height:80px;
    width: 100%;
}

.navbar h2{
    float: left;
    font-size: 40px;
    margin: 15px auto 15px 15px;
    font-weight: 100;
}

.container{
    float: right;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links .items{
    margin:15px;
    padding:10px;
    color:black;
}

.content{
    background-color: black;
    width: 100%;
    height: 100vh;
}

.content h3{
    padding:100px;
    color:white;
    text-align: center;
    font-size: 2rem;
}